#reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reviewForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reviewForm textarea {
    min-width: 70%;
    min-height: 100px;
    margin: 0 auto;
}

#reviewForm button {
    margin: 0 auto;
}

.review {
    display: flex;
    justify-content: start;
}
.review .left-part{
    width: 150px;
    border-right: #fff 1px solid;
    box-sizing: border-box;
}
.review .mid-part{
    box-sizing: border-box;
    padding: 5px 15px;
    width: 50%;
}