/* Частые стили */
/* Текст */
.inter {
  font-family: 'Inter';
}

.ctrl-e {
  text-align: center;
}

.ctrl-l {
  text-align: left;
}

.ctrl-r {
  text-align: right;
}

.ctrl-u {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

/* Блоки */
.block {
  display: block;
}

.radius {
  border-radius: 20px;
  padding: 0 10px;
}

.inner-shadow {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.blur {
  backdrop-filter: blur(30px);
}

.white-border,
#account input:focus {
  outline: 1px #ffffff solid;
}

.white-border {
  padding: 10px 20px;
}

a.white-border {
  display: block;
}

.hide {
  display: none;
}

/* Отступы */

.pad0 {
  padding: 0;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

/* Флексы */
.mauto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.wrap {
  flex-wrap: wrap;
}