*,
a,
h1,
h2 {
  /* user-select: none; */

  font-size: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #fff;

  margin: 0;
  border: 0;
  padding: 0;

  font-family: 'Fifaks 1.0 dev1';
}

html {
  --five: 5px;
  --typical-height: 25px;
}

label {
  cursor: pointer;
}

hr {
  height: 1px;
}

textarea {
  resize: none;
}

* ::placeholder,
.half-text {
  color: #ffffff88
}

a,
button,
.pointer {
  outline: none;
  cursor: pointer;
}

button,
input {
  background-color: #00000000;
}

body {
  min-height: 100vh;
  margin: auto;
  background: linear-gradient(180deg,
      #2a1940 10%,
      #401b6f 45%,
      #c7542f 75%,
      #ffa24d 100%);
}

/* Контентная область и содержимое */
content {
  min-height: 85vh;
  max-height: 90%;
  margin: 0 auto;
  padding: 0 10%;
  display: block;
}

/* Хэдер */
header {
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Название */
.title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

h1 {
  margin: calc(var(--five) * 2);
  font-size: 2rem;
}

.LOGO {
  height: calc(var(--typical-height) * 2);
}

/* Поиск */
.search {
  --witdh-search: 70%;
  border: 1px solid #fff;
  max-width: var(--witdh-search);
  border-radius: 100vh;
  padding: var(--five);
  display: flex;
  justify-content: space-between;
}

.search * {
  border: none;
  padding: 0;
}

.search input {
  width: calc(var(--typical-height) * 10);
  /* max-width: 40vw; */
  outline: 0;
  padding: 0 5%;
  font-family: 'Fifaks 1.0 dev1';
  font-size: 1.6rem;
}

.search button {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.search button img {
  width: 30%;
  /* min-width: 5vw; */
}

/* Балик и навигация */
nav {
  display: flex;
  align-items: center;
}

nav h2 {
  font-size: 1.5rem;
}

nav div {
  width: calc(var(--typical-height) * 1.5 * 3 + var(--five) * 2);
  margin-left: calc(var(--five)*3);
  display: flex;
  justify-content: space-between;
}

nav div a img {
  height: calc(var(--typical-height)*1.5);
}

/* Футер */
footer {
  max-width: 100vw;
  height: 10%;
  position: relative;
  bottom: 0px;
}

footer img {
  height: 30%;
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

footer .info {
  --pad-f-info: 15px;
  max-width: 100%;
  min-height: calc(10.4vh - var(--pad-f-info) * 2);
  height: 70%;
  padding: var(--pad-f-info);
  background: #271043;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 0px;
}

.zero {
  width: 100%;
  position: relative;
}

/* Авторизация и связанное */
#account {
  height: auto;
  width: 150px;
  border: 1px solid white;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#account img {
  width: 80px;
}

#account input {
  width: 80%;
  padding: 5px 10%;
}

#account form div,
#account form button {
  margin: 15px auto 0 auto;
  display: flex;
  justify-content: center;
}

#account form button {
  width: auto;
  padding: 5px 10px;
}

/* Форматирование текста */
.ctrl-u {
  text-decoration: underline;
}

/* Админка */
a.product-card.inner-shadow img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 0.2s;
  opacity: 0.6;
}

a.product-card.inner-shadow:hover img {
  opacity: 1;
}

/* Обратная связь */
.content-mail {
  width: 500px;
  max-width: 80vw;
  margin: 50px auto auto auto;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-mail * {
  width: 400px;
  margin: 10px;
  padding: 10px;
  resize: none;
}

.content-mail button {
  width: auto;
  margin: 10px;
  border: 2px solid #ffffff;
  padding: 10px 10px;
}

.input-height {
  height: 200px;
  display: flex;
  align-items: flex-start;
}

.content-mail ::placeholder {
  color: #ffffff88;
}

.content-mail p {
  width: auto;
}

/* Личный кабинет */
#personal-area {
  min-width: 700px;
  max-width: 70vw;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#personal-area * {
  font-size: 20px;
}

#personal-area button {
  width: auto;
  margin: 10px;
}

#personal-area>div>div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  #personal-area>div>div {
    margin: 20px 0;
    justify-content: space-evenly;
  }
}

#personal-area>div>div>div {
  min-width: 190px;
}

#info {
  width: 80%;
}

#info>div>h2 {
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;

  background-color: #00000000;
}

#avatar * {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Каталоги */
#filters {
  height: 5vh;
  display: flex;
  align-items: center;
}

#catalogue {
  min-height: 55vh;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.product-card {
  --card-wh: 150px;
  width: var(--card-wh);
  height: calc(var(--card-wh) / 3 * 4);
  margin: 5px 10px;

  transition: all 0.3s ease-out;
}

@media (max-width: 600px) {
  .product-card {
    --card-wh: calc(150px / 1.5);
  }
}

@media (max-width: 300px) {
  .product-card {
    --card-wh: calc(150px / 2);
  }
}

a.product-card>img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0.9;
}

.mini-poster {
  height: 100%;
  overflow: hidden;
}

.mini-poster>* {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  height: 200%;
}

a.product-card:hover img {
  opacity: 1;
}

.pcard-info {
  position: relative;

  min-height: 0;
  height: 0;
  width: var(--card-wh);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  box-sizing: border-box;
  padding: 0px 10px;

  word-wrap: break-word;
  overflow: hidden;
  transition: all 0.2s ease-out;
  backdrop-filter: blur(0px);
}

.product-card:hover .pcard-info {
  min-height: 100px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.pcard-info h3 {
  font-size: 1.2rem;
}

/* Страница товара */
#productInfo {
  min-height: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  word-wrap: break-word;
  padding: 30px 0;
}

#left-info>* {
  margin: 20px auto;
}

#poster {
  margin: 0 auto;
  max-height: 350px;
}

#poster img {
  height: 100%;
  max-width: 350px;
}

#productInfo h2 {
  line-height: 2.4em;
}

#productInfo>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#right-info {
  width: 70%;
  min-width: 500px;
}

.ptInfo {
  width: 90%;
  min-height: 100px;
  margin: 0 auto;
}

#left-info {
  width: 25%;
  min-width: 200px;
  margin: 0 auto;
}

#left-info span {
  line-height: 1.3em;
}

#left-info>div>div {
  display: flex;
  justify-content: space-between;
}

#titleProduct {
  display: block;

  width: 80%;
  min-height: 30px;
  max-height: 100px;

  margin: 0 auto;
  padding: 10px 15px;

  font-size: 1.4rem;

  resize: vertical;
}

#sys,
#summary-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#summary-info {
  width: 100%;
}

#summary-info>* {
  margin: 0 auto;
  width: 80%;
}

#sys>* {
  display: flex;
  justify-content: space-between;
}

#sys * {
  line-height: 1.6em;
}

select {
  width: 20%;
  min-width: 140px;
  border-left: 1px white solid;
  border-right: 1px white solid;
  background-color: #00000000;
  cursor: pointer;
}

select:focus {
  outline: 2px white solid;
}

option {
  background-color: #000000dd;
  cursor: pointer;
}

.cost {
  width: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input[type="file"] {
  font-size: 1rem;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px #ffffff solid;
  cursor: pointer;
  background-color: #00000000;
  color: #fff;
}

.mini-input {
  width: 50px;
}
#btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.sale-percentage {
  display: block;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

.gradient {
  width: 2.75rem;
  background: #fff;
  color: #2a1940;
  font-weight: bolder;
}

